@font-face {
  font-family: 'icon-xuan';
  src:  url('../font/icon-xuan.eot?4dypdp');
  src:  url('../font/icon-xuan.eot?4dypdp#iefix') format('embedded-opentype'),
    url('../font/icon-xuan.ttf?4dypdp') format('truetype'),
    url('../font/icon-xuan.woff?4dypdp') format('woff'),
    url('../font/icon-xuan.svg?4dypdp#icon-xuan') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icon-xuan';
  src:  url('fonts/icon-xuan.eot?fa5q0w');
  src:  url('fonts/icon-xuan.eot?fa5q0w#iefix') format('embedded-opentype'),
    url('fonts/icon-xuan.ttf?fa5q0w') format('truetype'),
    url('fonts/icon-xuan.woff?fa5q0w') format('woff'),
    url('fonts/icon-xuan.svg?fa5q0w#icon-xuan') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-xuan' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-xuan' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy:before {
  content: "\e9df";
}
.icon-happy{
	font-size: 15px;
}

.toolbar {
  border: 1px solid #ccc;
}

.text {
  border: 1px solid #ccc;
  height: 400px;
}