/**
 * body:#e1f3da;
 * 主题色（用户名，签名，评论，导航）：#58d231
 * 主题色hover：#4b9e2e
 * container 背景色：#fffcf4
 * 
 */


/**
 * 公共样式
**/

*{
	magin:0 auto;
	font-size: 15px;
}
body{
	font-size: 15px;
	background-color: #e1f3da;
}
#login,#signup{
	margin-top: 200px;
}
.btn-yes{
	color: #fff;
    background-color: #58d231;
    border-color: #4bca22;
}
.btn-yes:hover{
	color: #fff;
	background-color: #4b9e2e;
}
/* 登录注册部分 */
.signup-link a {
  font-size: small;
}

/**
 * 字体图标（表情）
 */
@font-face {
  font-family: 'icon-xuan';
  src:  url('../font/icon-xuan.eot?lmgq2s');
  src:  url('../font/icon-xuan.eot?lmgq2s#iefix') format('embedded-opentype'),
    url('../font/icon-xuan.ttf?lmgq2s') format('truetype'),
    url('../font/icon-xuan.woff?lmgq2s') format('woff'),
    url('../font/icon-xuan.svg?lmgq2s#icon-xuan') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-xuan' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**
 * 个人头像
 */

/**
 * header部分
 */

#header{
  /*height: 100px;*/
  background-color: #fffcf4;
}
#header #emoj{
  font-size: 20px;
}
#header > div{
  display: inline-block;
    vertical-align: middle; 
}
#header > .left{
    width: 10%;
    text-align: right;
}
#header > .left > .portrait{
    /* cursor: pointer; */
    position: relative;
}
#header > .left > .portrait img{
  width: 80px;
  cursor: pointer;
}
#header > .left > .portrait > .popover{
    top: 80px;
    left: 50px;
    display: block;
    width: 92px;
    font-size: 14px;
    color: #58d231;
}
#header > .left > .portrait span:hover{
    color: #4b9e2e;
}
/* 个人设置&切换账号 */
#header .userAttr{
  font-size: small;
}
#header > .middle{
  width: 54%;
}
#header > .middle > span{
  font-size: 28px;
}
#header > .middle >span:first-child{
  color: #58d231;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
#header > .middle > .emotion{
  position: relative;
}
#header > .middle > .emotion,
#header > .middle > .emoj{
  cursor: pointer;
}
#header > .middle > .emotion > .popover{
    top: 0px;
    left: -12px;
    display: block;
    width: 102px;
    font-size: 20px;
}
#header > .middle .popover-content {
    padding: 0;
}
#header > .right{
  width: 35%;
}
#header a{
  font-size: 28px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  text-decoration: none;
}
#header .signature{
  color: #58d231;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
section{
  margin: 15px auto;
}
#nav-bar{
  margin-top: 50px;
}
#nav-bar ul{
  text-align: right;
}
.nav > li > a{
  font-size: 18px;
  font-weight: bold;
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li.active > a,
.nav > li.active > a:hover{
  color: #4b9e2e;
  background-color: transparent;
  border-right: 2px solid #5ac135;
  border-radius: unset;
}


/**
 * 评论部分
 */
.comment-btn{
	font-size: 14px;
    background: transparent;
    border: transparent;
    padding: 0;
    margin-right: -4px;
    color: #58d231;
    margin-bottom: 8px;
}
.glyphicon-menu-down{
	cursor: pointer;
    font-size: 8px;
}
.glyphicon-menu-up{
	cursor: pointer;
    font-size: 8px;
}
/*<!-- 当评论数为0时，此行生效 -->*/
/* .disable-cusor,button, html input[type="button"]{
    cursor: not-allowed;
} */

.write-comment{
	margin-left: 8px;
}
/*focus颜色变化判断*/
.comment input:focus{
	outline: transparent;
}
.comment img{
	height: 50px;
	width: auto;
}
.comment ul.media-list{
	margin-top: 8px;
}
.comment ul.media-list li{
	border-bottom: 1px solid #c0c0c0;
}
.comment ul.media-list:first-child{
	border-top: 1px dotted #020f01;
}
input.comment-btn:hover{
	color: #4b9e2e;
}
.see-more{
	text-align: right;
	margin-right: 50px;
    margin-top: -15px;
}

a{
	color: #58d231;
}
a:hover{
  color: #4b9e2e;
  cursor: pointer;
}
/* 返回主页按钮 */
.backHome img{
  width: 65px;
  right: 40px;
  bottom: 30px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}