.container{
    margin-top: 150px;
    width: 400px;
}
.nav > li > a{
	color: #58d231;
	background-color: transparent;
	border: 2px solid transparent;
}
.nav > li.active > a{
	color: #58d231;
	background-color: transparent;
	border: 2px solid transparent;
	border-bottom-color: #4b9e2e; 
}
.nav > li > a:hover,
.nav > li > a:focus{
	color: #4b9e2e;
	background-color: transparent;
	border: 2px solid transparent;
}
.nav > li.active > a:focus{
	color: #4b9e2e;
	background-color: transparent;
	border: 2px solid transparent;
	border-bottom-color: #4b9e2e; 
}
.container .well{

}
.form-group button{
    margin-right: 16px;
}
.error{
	color: #c70d0d;
}